:root {
    --text: #000;
    --screen: #fff;
    --calc: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e5e5;
}

.container {
    position: relative;
    width: 414px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--screen);
}

.name-app {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 24px;
    font-weight: bold;
}

.screen {
    padding: 60px 40px;
}

.screen-calculation, 
.screen-result {
    background-color: var(--screen);
    color: var(--text);
    outline: none;
    height: 60px;
    width: 100%;
    border: 0;
    text-align: right;
}

.screen-calculation {
    font-size: 52px;
}

.screen-result {
    font-size: 42px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.calc-button {
    font-size: 28px;
    width: 103px;
    height: 72px;
    border: 0;
    background-color: var(--calc);
    color: var(--text);
    z-index: 1;
}

.calc-button:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.operator {
    font-size: 30px;
}

.operator::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e5e5e5;
    right: 23px;
    z-index: -1;
    transform: translateY(-14px);
}

.operator:last-child {
    color: #fff;
}

.operator:last-child::after {
    background-color: #ff6531;
}