*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
    padding: 0;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  margin-top: 54px;
  user-select: none;
  background-color: #ccc;
}

.header-left {
  display: flex;
  align-items: center;
}

.header__logo-img,
.header__logo-name {
  vertical-align: middle;
}

.header__logo-img {
  width: 24px;
  height: 24px;
  margin-right: 2px;
}

.header__menu {
  margin-left: 48px;
}

.header__menu-active {
  font-weight: 600;
  position: relative;
}

.header__menu-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #212832;
  bottom: -2px;
  left: 32px;
}

.header__menu a {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  padding: 0 24px;
}

.header__login,
.header__signup {
  width: 114px;
  height: 52px;
  font-size: 1.6rem;
  cursor: pointer;
}

.header__login {
  border: none;
  background-color: transparent;
}

.header__signup {
  border-radius: 6px;
  background: #212832;
  color: white;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #ccc;

  font-size: 1.4rem;
  min-height: 52px;
  margin-bottom: 30px;
}
